@keyframes slideOutOnRight{
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

.input-style{
  background-color: #ffe800;
  border: none;
  box-shadow: 3px 3px black;
  border-radius: 5%;
  height: 1.5rem;
  font-size: 18px;
  width: 2.5rem;
}

.container{
    position: relative;
    margin: auto;
    width: 50%;
    border: none;
    background-color: #ffe800;
    box-shadow: 6px 6px black;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    #settings{
        width: 215px;

    }

    .Main{
     
        animation: 0.3s ease-in 0s 1 slideInFromLeft;
        
    }

    .welcome{
      clear: left;
    }


    @keyframes color-change-yellow {
      0% { background-color: #ffe800; }
      50% { background-color:#ffd300; }
      100% { background-color: #ffe800; }
    }

    .animation:active{
      animation: color-change-yellow 0.1s;
    }