#menu_checkbox {
    display: none;

  }
  .SideInfo{
      margin: 20px;
      margin-top: 60px;
      margin-right: 15px;
      margin-bottom: 90px;
    position: absolute ;
    float: left;
    background-color: aliceblue;
    
  }
  
  #sidelabel {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    margin: -30px auto 0 auto;
    cursor: pointer;
  }
  
  #sidelabel:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 60px;
    margin: 20px;
    transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
  }
  
  #sidelabel div {
    position: relative;
    top: 0;
    height: 12px;
    background-color: #FFEC2D;
    margin-bottom: 12px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
      0.3s ease right;
    border-radius: 2px;
  }
  
  #sidelabel div:first-child {
    transform-origin: 0;
  }
  
  #sidelabel div:last-child {
    margin-bottom: 0;
    transform-origin: 60px;
  }
  
  #sidelabel div:nth-child(2) {
    right: 0;
    width: 60px;
  }
  

  
  #menu_checkbox:checked + label div:first-child {
    top: -6px;
    transform: rotateZ(45deg);
  }
  
  #menu_checkbox:checked + label div:last-child {
    top: 6px;
    transform: rotateZ(45deg);
  }
  
  #menu_checkbox:checked + label div:nth-child(2) {
    width: 85px;
    top: 0;
    right: 13px;
    transform: rotateZ(-45deg);
  }
  
  .info{
      position: absolute;
      float: left;
      margin-top: 120px;
      margin-left: 20px;
      background-color: #FFEC2D;
      padding: 10px;
      border-radius: 10px;
      animation: 0.1s ease-in-out 0s 1 slideInFromLeft;
     
  }