@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


progress{
    height: 50px;
    accent-color: #33FF86;
}


.cont{
  display: flex;
  justify-content: center;
}
.User{
    animation: 0.3s ease-in 0s 1 slideInFromLeft;
    
}
.activityContainer{
  position: relative;
  border: none;
  background-color: #ffe800;
  box-shadow: 6px 6px black;
  color: black ;
  width: 30%;
  margin-bottom: 20px;
}
.actText{
  font-size: 28px;
}