body {
  
  margin: 0;
  font-family: 'Advent Pro';
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ffd300 ;
 text-align: center;
}

@keyframes color-change {
  0% { background-color: #ffe800; }
  100% { background-color: black; }
}

@keyframes color-change-yellow {
  0% { background-color: #ffe800; }
  50% { background-color:#ffd300; }
  100% { background-color: #ffe800; }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 40px;
  text-shadow: 2px 2px #ffe800;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
}

button{
  font-family: 'Advent Pro';
  font-size: 20px;
  background-color: #FFEC2D;
  border-radius: 4px;
  border: none;
  color: black;
  text-align: center;
  padding: 20px;
  width: 195px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 3px black;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


button:hover span {
  padding-right: 25px;
  
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button:active{
  
}



.footer{
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: #ffe800;
  color: black;
  text-align: center;
  border: 2px solid black;
}